.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "comfortaa", cursive;
    /* min-height: 100vh; */
    /* background-color: #f0f0f0; */
}

.login-logo {
  height: 70px;
  padding-top: 6%;
  text-align: center;
}

.login-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/bg3.jpg"); 
    background-size: cover;
    background-position: center;
    /* position: relative; */
    /* bottom: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.l-login-wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
    /* color: #fff; */
    height: 80vh;
    width: 30%;
    border-radius: 10px;
    background-color: #fff;
    /* text-align: center; */
}

.l-login-wrapper > h3 {
   text-align: center;
   margin: 10px 0;
}

form {
    text-align: left;
    margin-left: 8%;
    margin-top: 4%;
}

form > p {
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 1%;   
}

.login-button {
    width: 82%;
    margin-top: 7%;
    padding: 3% 0;
    color: #fff;
    background-color: royalblue;
    border: 1px solid royalblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;

}

.login-button:hover {
   background-color: #fff;
   color: royalblue;
}

input {
    height: 35px;
    width: 80%;
    font-size: 15px;
}

.login-paragraph {
    font-size: 15px;
    margin-top: 4%;
}