.l-container {
    /* position: absolute; */
    /* top: 200%; */
    /* z-index: 1; */
    background-color: #e0d5d5;
    margin-top: 7%;
    padding-top: 5%;
    font-family: "comfortaa", cursive;
}

.l-heading {
    text-align: center;
    letter-spacing: 5px;
    font-size: 27px;
    /* line-height: 25; */
}

.l-h-1 {
  height: 2px;
  background-color: royalblue;
  margin: 15px 44%;
}

.l-h {
    height: 2px;
    background-color: royalblue;
    margin: 2px 47%;
}

.l-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 6% 5% 0;
}

.l-wrapper > div {
    /* height: 500px; */
    width: 350px;
    background-color: #fff;
    margin-bottom: 4%;
    margin-right: 1%;
    text-align: center;
    border-radius: 5px;
}

.l-img1 {
    height: 250px;
    width: 100%;
    border: 5px;
}

.l-btn {
    background-color: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: -20px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 5%;


}

.l-h3 {
    margin-top: 7%;
    margin-bottom: 7%;
}

.l-location {
    margin-top: 7%;
    margin-bottom: 10%;
}